*{
   margin: 0;
   padding: 0;
   box-sizing:border-box;
}

body{
    background-color:rgb(214, 204, 204)
    text-align center;
    line-height:2.2;
}

.hero {
    padding 20px 10px;
}

.hero img{
      border-radius: 50%;
      margain-bottom: 10px;
}

.section h2{
    font size:22px;
}

.hero h2{
    font-size:37px;
}

.accent{
    color:mediumvioletred
}

.grid {
    display:flex;
    gap:15px;
    justify-content: center;
    flex-wrap: wrap;

}

.grid div{
    padding:15px;
    border-radius: 35px;
    background-color:aliceblue
}


@media (max-width: 768px){
    body{background-color: rgb(177, 166, 166);}
}
